# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies & Build
node_modules
dist
dist-ssr
.output
.vercel
.tanstack/**
.history
.DS_Store

# Environment & IDE
.env
.env.local
.env.*.local
.vscode/*
!.vscode/extensions.json
.idea
